body{
  color: black;
   background-image: url('images/bg3.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
}

ol {
	list-style: Circle;
	background: #e6b3ff;
	padding: 0;
	border: 1px solid #ddd;
}

ol li {
	padding: 8px 16x;
	border-bottom: 1px solid #ddd;
}

ol li:last-child {
	border-bottom: : none
}

input[type="checkbox"] {
    width: 22px;
		height: 22px;
		margin:-2px 10px 0 0;
		cursor: pointer;
		vertical-align:middle;
}

input[type="radio"]{
  width: 22px;
  height: 22px;
  margin:-2px 10px 0 0;
  cursor: pointer;
  vertical-align:middle;
  border-radius: 50px;
}
