body{
  color: black;
   background-image: url('images/bg3.png');
}

ol {
	list-style: Circle;
	background: #e6b3ff;
	padding: 0;
	border: 1px solid #ddd;
}

ol li {
	padding: 8px 16x;
	border-bottom: 1px solid #ddd;
}

ol li:last-child {
	border-bottom: : none
}
