<!-- templates/home.html-->
{% extends 'base.html' %}
<!-- Loads the static files-->
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'newform' %}">Create new Form</a></p>
  <p><a href="{% url 'viewform' %}">View all your forms</a></p>
  {% if user.is_superuser == 1%}
    <p><a href="{% url 'admin:index' %}">link to admin panel</a></p>
  {% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
  <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
