<!-- templates/home.html-->
{% extends 'base.html' %}
<!-- Loads the static files-->
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <h2> Hi {{ user.username }}! </h2>
  <ol>
    <li><a href="{% url 'newform' %}">Create new Order</a></p>
    <li><a href="{% url 'viewform' %}">View all your Orders</a></p>
    {% if user.is_superuser == 1%}
      <li><a href="{% url 'admin:index' %}">Link to admin panel</a></p>
      {% endif %}
      <li><a href="{% url 'logout' %}">Logout</a></p>
  </ol>
{% else %}
  <h2>You are not logged in</h2>
  <ol>
    <li> <a href="{% url 'login' %}">Please log in</a></li>
  <ol>
{% endif %}
{% endblock %}
