{% extends 'base.html' %}

{% block content %}
<style>
p {
	color: black;
}
</style>
<h2> Contract Page for order: {{OrderName}} </h2>
The information you entered on the previous page:<br>
Order name:       {{myOrder.OrderName}}<br>
System id:       {{myOrder.SystemId}}<br>
Service Tier: {{myOrder.Medal}}<br>
Response time:   {{myOrder.ResponseTime}}<br>
Scheduled Response time:    {{myOrder.ServiceTime}}<br>
Order created:      {{myOrder.Date}}<br><br>
<h2> Your system has the following resources: </h2>
	{% for resource in Resources %}
	<h3> Resource ID: {{ resource.id}} </h3>
	<ol>
		<li> Object: {{resource.Object}}</li>
		<li> OS: {{resource.OS}}</li>
		<li> Packet: {{resouce.Packet}}</li>
	</ol>
	{% endfor %}

{% endblock %}
