{% extends 'base.html' %}

{% block content %}
<style>
p {
	color: black;
}
</style>
<h2> Contract Page for order: {{OrderName}} </h2>
The information you entered on the previous page:<br>
Order name:       {{myOrder.OrderName}}<br>
System id:       {{myOrder.SystemId}}<br>
Service Tier: {{myOrder.Medal}}<br>
Response time:   {{myOrder.ResponseTime}}<br>
Scheduled Response time:    {{myOrder.ServiceTime}}<br>
Date:      {{myOrder.Date}}<br><br>
<h2> Your system has the following resources: </h2>
<form>
	{% for resource in Resources %}
	<h3> Resource ID: {{ resource.id}} </h3>
	<ol>
		<li> Object: {{resource.Object}}</li>
		<li> OS: {{resource.OS}}</li>
		<li> Packet: {{resource.Packet}}</li>
	</ol>
	<h4> Choose what you want monitored for this resource </h4>
		{% if resource.Object == "Server" %}
			<h5> Host metrics </h5>
			<p> Server Status - Overall status indication </p>
			<input type="checkbox" name="ServerMonitorStatus" value="MonitorServerStatus">Monitor Server Status <br>
			<input type="checkbox" name="ServerLeaveRunningState" value="ServerLeaveRunningState"> Set alert when server leaves running state <br><br>
			<p> Server Load Average </p>
			<input type="checkbox" name="ServerMonitorAverage" value="ServerMonitorAverage"> Monitor the server load average <br>
			<input type="checkbox" name="ServerLoadAlert" value="ServerLoadAlert"> Alert when load average exceeds a fiexed threshhold <br><br>
			<p> Server Network Usage </p>
			<input type="checkbox" name="ServerMonitorNetworkUsage" value="ServerMonitorNetworkUsage"> Monitor the server netowrk usage <br>
			<input type="checkbox" name="ServerNetworkUsageAlert" value="ServerNetworkUsageAlert"> Alert if server network usage exceeds a fixed threshhold <br><br>
			<p> Server Disk Space </p>
			<input type="checkbox" name="ServerMonitorDiskSpace" value="ServerMonitorDiskSpace"> Monitor the avalible disk space <br>
			<input type="checkbox" name="ServerDiskSpaceAlert" value="ServerDiskSpaceAlert"> Alert if server disk space exceeds a fixed threshhold <br><br>
			<p> Hosting Provider Status </p>
			<input type="checkbox" name="ServerMonitorHostingProvider" value="ServerMonitorHostingProvider"> Monitor the hosting providers status <br>
			<input type="checkbox" name="ServerHostingProviderAlert" value="ServerHostingProviderAlert"> Alert if provider experiences outage <br><br>
			<p> Process State </p>
			<input type="checkbox" name="ServerMonitorProcessStates" value="ServerMonitorProcessStates"> Monitor the up time for each process <br>
			<input type="checkbox" name="ServerMonitorProcessStatus" value="ServerMonitorProcessStatus"> Monitor the status for each process <br>
			<input type="checkbox" name="ServerAlertMasterProcess" value="ServerAlertMasterProcess"> Alert if the master process leaves the running state <br><br>
		{% endif %}
		{% if resource.Object == "DB"%}
			<h5> DB metrics </h5>
			<p> DB Process Status - Overall status indication </p>
			<input type="checkbox" name="DBMonitorStatus" value="DBMonitorStatus"> Monitor the process status <br>
			<input type="checkbox" name="readquery" value="readquery"> ReadQueries <br>
			<input type="checkbox" name="inswriteq" value="inswriteq"> Insert or Write Queries <br>
		{% endif %}
	{% endfor %}
	<input type="submit">
</form>
{% endblock %}
