{% extends 'base.html' %}

{% block content %}

		{% if messages %}					<!-- Shows messages from django, in this case if ordername already exists -->
			{% for message in messages %}
				<script>
					alert('{{ message }}');
				</script>
			{% endfor %}
		{% endif %}

		<h1>Add Service:</h1>
		<form action="" method ="POST" name="order">
			{% csrf_token %}
			<p>Name of Order:</p>
			<input type="text" name="OrderName" required="required"><br>
			<p>System Id:</p>
			<input type="text" name="SystemId" required="required"><br>
			<p>Type of Service:</p>
			<input type="radio" name="Medal" value="Gold" > Gold<br>
			<input type="radio" name="Medal" value="Silver"> Silver<br>
			<input type="radio" name="Medal" value="Bronze" required="required"> Bronze<br>
			<p>Response Time:</p>
			<input type="radio" name="ResponseTime" value="10"> 10 Minutes<br>
			<input type="radio" name="ResponseTime" value="20"> 20 Minutes<br>
			<input type="radio" name="ResponseTime" value="30" required="required"> 30 Minutes<br>
			<p>Service Time:</p>
			<input type="radio" name="ServiceTime" value="1"> Mon-Fri, 8-18<br>
			<input type="radio" name="ServiceTime" value="2"> Mon-Sun, 8-18<br>
			<input type="radio" name="ServiceTime" value="3" required="required"> 24/7, 365/y<br><br>
			<input type="submit">
		</form>
		<ol>
			<li> <a href="{% url 'contractpage' %}">Test for Contractpage</a> </li>
		</ol>
{% endblock %}
