
<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body>
		<form>
			<p>Type of Service:</p>
			<input type="radio" name="button1" value="Gold" > Gold<br>
			<input type="radio" name="button1" value="Silver"> Silver<br>
			<input type="radio" name="button1" value="Bronze" required="required"> Bronze<br>
			<p>Response Time:</p>
			<input type="radio" name="button2" value="10"> 10 Minutes<br>
			<input type="radio" name="button2" value="20"> 20 Minutes<br>
			<input type="radio" name="button2" value="30" required="required"> 30 Minutes<br>
			<p>Service Time:</p>
			<input type="radio" name="button3" value="1"> Mon-Fri, 8-18<br>
			<input type="radio" name="button3" value="2"> Mon-Sun, 8-18<br>
			<input type="radio" name="button3" value="3" required="required"> 24/7, 365/y<br>
			<p></p>
			<input type="submit">
		</form>

		<p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
	</body>
</html
