{% extends 'base.html' %}

{% block content %}

		{% if messages %}					<!-- Shows messages from django, in this case if ordername already exists -->
			{% for message in messages %}
				<script>
					alert('{{ message }}');
				</script>
			{% endfor %}
		{% endif %}

		<h1>Add Order:</h1>
		<form action="" method ="POST" name="order">
			{% csrf_token %}
			Name of Order:<br>
			<input type="text" name="OrderName" required="required"><br><br>
			System Id:<br>
			<input type="text" name="SystemId" required="required"><br>
			<br>Service Tier:<br>
			<input type="radio" name="Medal" value="Gold" > Gold<br>
			<input type="radio" name="Medal" value="Silver"> Silver<br>
			<input type="radio" name="Medal" value="Bronze" required="required"> Bronze<br>
			<br>Response Time:<br>
			<input type="radio" name="ResponseTime" value="10 Minutes"> 10 Minutes<br>
			<input type="radio" name="ResponseTime" value="20 Minutes"> 20 Minutes<br>
			<input type="radio" name="ResponseTime" value="30 Minutes" required="required"> 30 Minutes<br>
			<br>Scheduled Support Time:<br>
			<input type="radio" name="ServiceTime" value="24/7/365"> 24/7/365<br>
			<input type="radio" name="ServiceTime" value="Monday to Sunday, 8am to 6pm"> Monday to Sunday, 8am to 6pm<br>
			<input type="radio" name="ServiceTime" value="Monday to Friday, 8am to 6pm" required="required"> Monday to Friday, 8am to 6pm<br><br>
			<input type="submit">
		</form>
		<ol>
			<li> <a href="{% url 'contractpage' %}">Test for Contractpage</a> </li>
		</ol>
{% endblock %}
