{% extends 'base.html' %}

{% block content %}
		<h2>Edit Service:</h2>
		<form action="" method ="POST" name="order">
			{% csrf_token %}
			Name of order:<br>
			<input type="text" name="OrderName" required="required" value="{{order.OrderName}}" readonly><br><br>
			System Id:<br>
			<input type="text" name="SystemId" required="required" value="{{order.SystemId}}" readonly><br><br>
			Type of Service:<br>
			{% if order.Medal == 'Gold' %}
				<input type="radio" name="Medal" value="Gold" checked="checked"> Gold<br>
			{% else %}
				<input type="radio" name="Medal" value="Gold"> Gold<br>
			{% endif %}
			{% if order.Medal == 'Silver' %}
				<input type="radio" name="Medal" value="Silver" checked="checked"> Silver<br>
			{% else %}
				<input type="radio" name="Medal" value="Silver"> Silver<br>
			{% endif %}
			{% if order.Medal == 'Bronze' %}
				<input type="radio" name="Medal" value="Bronze" checked="checked"> Bronze<br>
			{% else %}
				<input type="radio" name="Medal" value="Bronze"> Bronze<br>
			{% endif %}
			<br>Response Time:<br>
			{% if order.ResponseTime == '10' %}
				<input type="radio" name="ResponseTime" value="10" checked="checked"> 10 Minutes<br>
			{% else %}
				<input type="radio" name="ResponseTime" value="10"> 10 Minutes<br>
			{% endif %}
			{% if order.ResponseTime == '20' %}
				<input type="radio" name="ResponseTime" value="20" checked="checked"> 20 Minutes<br>
			{% else %}
				<input type="radio" name="ResponseTime" value="20"> 20 Minutes<br>
			{% endif %}
			{% if order.ResponseTime == '30' %}
				<input type="radio" name="ResponseTime" value="30" checked="checked"> 30 Minutes<br>
			{% else %}
				<input type="radio" name="ResponseTime" value="30"> 30 Minutes<br>
			{% endif %}
			<br>Service Time:<br>
			{% if order.ServiceTime == '1' %}
				<input type="radio" name="ServiceTime" value="1" checked="checked"> Mon-Fri, 8-18<br>
			{% else %}
				<input type="radio" name="ServiceTime" value="1"> Mon-Fri, 8-18<br>
			{% endif %}
			{% if order.ServiceTime == '2' %}
				<input type="radio" name="ServiceTime" value="2" checked="checked"> Mon-Sun, 8-18<br>
			{% else %}
				<input type="radio" name="ServiceTime" value="2"> Mon-Sun, 8-18<br>
			{% endif %}
			{% if order.ServiceTime == '3' %}
				<input type="radio" name="ServiceTime" value="3" checked="checked"> 24/7, 365/y<br>
			{% else %}
				<input type="radio" name="ServiceTime" value="3"> 24/7, 365/y<br>
			{% endif %}
			<input type="submit">
		</form>
{% endblock %}
