{% extends 'base.html' %}

{% block content %}
		<h2>Edit Service:</h2>
		<form action="" method ="POST" name="order">
			{% csrf_token %}
			Name of order:
			<input type="text" name="orderName" required="required"><br>
			<p>Type of Service:</p>
			<input type="radio" name="service" value="Gold" > Gold<br>
			<input type="radio" name="service" value="Silver"> Silver<br>
			<input type="radio" name="service" value="Bronze" required="required"> Bronze<br>
			<p>Response Time:</p>
			<input type="radio" name="response" value="10"> 10 Minutes<br>
			<input type="radio" name="response" value="20"> 20 Minutes<br>
			<input type="radio" name="response" value="30" required="required"> 30 Minutes<br>
			<p>Service Time:</p>
			<input type="radio" name="serviceTime" value="1"> Mon-Fri, 8-18<br>
			<input type="radio" name="serviceTime" value="2"> Mon-Sun, 8-18<br>
			<input type="radio" name="serviceTime" value="3" required="required"> 24/7, 365/y<br><br>
			<input type="submit">
		</form>
{% endblock %}
