{% extends 'base.html' %}

{% block content %}

<h2> Order Name: {{order.OrderName}} </h2>
<ol>
  <li>
    <p> Ordernumber: {{order.id}} </p>
  </li>
  <li>
    <p> System id: {{order.SystemId}} </p>
  </li>
  <li>
    <p> Service tier: {{order.Medal}} </p>
  </li>
  <li>
    <p> Response time: {{order.ResponseTime}}</p>
  </li>
  <li>
    <p> Scheduled Support time: {{order.ServiceTime}} </p>
  </li>
  <li>
    <p> Order Created: {{order.Date}} </p>
  </li>

</ol>
{% for resource in resources %}
<h4> Resource ID: {{ resource.ResourceID }} </h4>
<p> Resource Object: {{ resource.Object }} </p>
<p> Resource OS: {{ resource.OS }} </p>
<p> Resource Packet: {{ resource.Packet }} </p>
<h5> Agreements for this resource: </h5>
<ol>
  {% for agreement in agreements %}
  {% if agreement.ResourceID in resource.ResourceID %}
  <li>
    <p> {{ agreement.CheckBoxType }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ol>
{% endfor %}
{% if order.MostRecent == "Active" %}
<form action="{% url 'editform' order.id %}">
    <input type="submit" value="Edit this form" />
</form>
    {% endif %}

    {% endblock %}
