{% extends 'base.html' %}

{% block content %}

<!-- THIS IS ACTUAL HTML CODE FOR PAGE -->
<h2> Your active orders: </h2>
<ol>
	{% for order in myOrders %}
	  {% if order.MostRecent == "TRUE" %}
				<li><a href="{% url 'orderdetail' order.OrderName %}"> {{ order.OrderName }}</a> <p> Date: {{ order.Date }}</p></li>
		{% endif %}
	{% endfor %}
</ol>

<h2> Your inactive orders: </h2>
<ol>
	{% for order in myOrders %}
	  {% if order.MostRecent == "FALSE" %}
				<li><a href="{% url 'orderdetail' order.OrderName %}"> {{ order.OrderName }}</a> <p> {{order.Date}} </p></li>
		{% endif %}
	{% endfor %}
</ol>
{% endblock %}
